body,
html {
  margin: 0;
  font-family: 'Arial, sans-serif';
  background-color: #fff;

}


.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  background-image: url('/bg.jpg');
  background-size: cover;
  height: 60vh;

}

.hero-section h1 {
  color: #fff;
}

.btn {
  padding: 10px 20px;
  background: rgb(4, 37, 4);
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.products {
  text-align: center;
  padding: 60px 20px;
}

.product-list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;


}

.product-item {
  max-width: 460px;
  padding: 20px;
  
  border-radius: 10px;
  background-color: rgb(4, 37, 4);
}
.product-item p {
  color: gray;
}

.product-item span {
  font-size: 150px;
 
}

.featured {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 80%;
  padding: 80px 20px;
}

.featured-img {
  
  width: 30%;


  border-radius: 10px;
}

.text-content {
  font-size: 17px;
  
}

.text-content em {
  color: rgb(4, 37, 4);
}